*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
header h2,
header h3 {
    padding: 16px 0;
    background-color: rgb(190, 124, 24);
    color: aliceblue;
    font-weight: normal;
}

body, input, textarea{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header nav li {
    display: inline;
    margin-left: 32px;
    font-size: 18px;
}

header nav li a {
    color: antiquewhite;
    text-decoration: none;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: auto auto;
    
}

.container img {
    height: 160px;
}

header .container,
section .container,
section .logossize{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logossize img {
    height: 20px;
}

.logossize li{
    display: flex;
    margin-right: 8px;
}

section .container{
    align-items: flex-start;
}

section {
    padding: 20px 0;
}

section h2,
section h3{
    margin-bottom: 15px;
    color: rgb(190, 124, 24);
}

section p {
    margin-bottom: 15px;
    color: rgb(27, 61, 124);
}

.nave {
    margin-right: 32px;
}

.social-links img{
    height: 25px;
}

.social-links li{
    display: inline;
    margin-right: 8px;
}

#contact .container{
    display: block;
}

.contact-methods{
    display:flex;
    justify-content: space-around;
    padding: 8px;
}

form input,
form button,
form textarea{
    display: block;
    width: 250px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 50px;
}

section h3{
    margin-bottom: 16px;
}

form button{
    background-color:rgb(190, 124, 24) ;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color:rgb(192, 143, 70) ;
}

input:focus, textarea:focus{
    outline-color:rgb(190, 124, 24) ;
}

footer{
    background-color: rgb(190, 124, 24);
    color: #fff;
    padding: 16px 0;
}
